/* styles.css */
body {
    font-family: Arial, sans-serif;
}
#scoreboard {
    margin-bottom: 20px;
}
/* Add this to styles.css */
body {
    background-image: url(https://i.ibb.co/JH6rg0Z/image244.png);
    background-repeat: repeat;
}
